footer {
  background-color: $color-footer;
  .footer__container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
  }
  a {
    display: flex;
    text-decoration: none;
    color: #fff;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
    p{
      font-family: "Shrikhand", cursive;
      font-size: 18px;
    }
  }
}
@media screen and (min-width: $query) {
  footer{
    .footer__container{
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
