.loader__container {
  margin: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
  animation: loader 3s linear both;
}
.loader__title {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  animation: title .7s linear 5 alternate;
  z-index: 3;
}
.spinner {
  display: flex;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-bottom: 5px solid;
  z-index: 2;
}
.spinner--1 {
  color: $color-primary;
  animation: spinner-1 1s linear 3;
}
.spinner--2 {
  color: $color-secondary;
  animation: spinner-2 1s linear 3;
}
.spinner--3 {
  color: $color-tertiary;
  animation: spinner-3 1s linear 3;
}

@keyframes spinner-1 {
  0% {
    transform: rotateY(20deg) rotateX(20deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(20deg) rotateX(20deg) rotateZ(360deg);
  }
}
@keyframes spinner-2 {
  0% {
    transform: rotateY(45deg) rotateX(-20deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(45deg) rotateX(-20deg) rotateZ(360deg);
  }
}
@keyframes spinner-3 {
  0% {
    transform: rotateY(45deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(45deg) rotateX(0deg) rotateZ(360deg);
  }
}
@keyframes title {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes loader {
  0%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  99%{
    opacity: 0;
    transform: translate(0);
  }
  100%{
    transform: translate(-200%);
  }
}