body, html {
  margin: 0 auto;
}
header {
  margin: 0 auto;
  display: flex;
  box-shadow: $shadow;
}
main {
  margin: 0 auto;
  min-height: 75vh;
}
.site__container {
  margin: 0 auto;
  max-width: 1536px;
}
