@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&family=Shrikhand&display=swap");

h1,
h2,
h3,
h4,
p,
b,
span {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 26px;
}
.menu__container {
  h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 30px;
    max-width: 80%;
  }
  h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 30px;
    max-width: 80%;
  }
  h3 {
    display: flex;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
    max-width: 80%;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-size: 18px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }
  li{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    max-width: 80%;
    font-weight: 300;
    margin-bottom: 10px;
  }
  b {

    color: $color-footer;
  }
}
p {
  font-size: 20px;
  font-weight: 300;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $color-footer;
}
.btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
}
.nouveau {
  color: $color-nouveau;
  font-weight: 700;
  font-size: 16px;
}
