.reservation{
  background: center 30% url(../../public/img/presentation/lore.png) no-repeat;
}
.reservation__exploration {
  background-color: rgba($color-font, .7);
  display: flex;
  flex-direction: column;
  @include align-justify-center;
  padding: 50px 0;
  gap: 10px;
  h1 {
    text-align: center;
    display: flex;
    max-width: 60%;
  }
  p {
    text-align: center;
    display: flex;
    max-width: 85%;
    margin-bottom: 20px;
  }
}
.fonctionnement__container {
  max-width: 1536px;
  margin: $margin;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .fonctionnement__regles {
    display: flex;
    align-items: center;
    background-color: $color-font;
    color: $color-footer;
    height: 80px;
    box-shadow: $shadow;
    gap: 15px;
    border-radius: 20px;
    width: 100%;
    span {
      display: flex;
      margin-left: -10px;
      @include align-justify-center;
      width: 25px;
      height: 25px;
      background-color: $color-primary;
      color: #fff;
      border-radius: 50px;
    }
    &:hover {
      @include actif($color-primary);
    }
  }
}
.serveur {
  background-color: $color-font;
  .serveur__container {
    display: flex;
    flex-direction: column;
    margin: $margin;
    gap: 20px;
  }
  .serveur__card {
    border-radius: 15px;
    box-shadow: $shadow;
    a {
      text-decoration: none;
      color: #000;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
    }
    .nouveau {
      border-radius: 2px;
      @include nouveau($color-nouveau);
      display: flex;
      @include align-justify-center;
      width: 100px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      display: flex;
      object-fit:cover;
      border-radius: 15px 15px 0px 0;
      height: 130px;
    }
    .serveur__info__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      height: 70px;
    }
    .serveur__card__info {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (min-width: $query){
  .fonctionnement__container{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    h2{
      width: 100%;
    }
    .fonctionnement__regles{
      width: 30%;
    }
  }
  .serveur{
  border-radius: 20px;
  margin:$margin;
  .recadrage{
    object-position: 50% -180px;
  }
  .lore{
    object-position: 50% -100px;
  }
  .serveur__container{
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h2{
    width: 100%;
  }
  .serveur__card{
    width: 48%;
    &--full{
      margin: 0 auto;
    }
  }  
  }
}
